{% set is_external = is_external_url(post.url) %}
<li class="blog-card reveal">
  <a class="blog-card__link" href="{{ post.url if is_external else '/' ~ post.url }}"
    {% if is_external %}target="_blank" rel="noopener noreferrer"{% endif %}>
    <div class="blog-card__eyebrow">
      {% if post.category %}
      <span class="blog-card__category">{{ post.category }}</span>
      {% endif %}
      {% if post.date %}
      <time class="blog-card__date" datetime="{{ post.date }}">{{ post.date | format_date }}</time>
      {% endif %}
    </div>
    <h3 class="blog-card__title">{{ post.title }}</h3>
    {% if post.description %}
    <p class="blog-card__description">{{ post.description }}</p>
    {% endif %}
    <span class="blog-card__cta">{{ 'Read article' if not is_external else 'Open article' }}</span>
  </a>
</li>
