{# Build delimiter-safe category tokens for filter JS. #}
{% macro pub_data_category(item) -%}
  {%- if item.category is string -%}
    |{{- item.category | lower -}}|
  {%- else -%}
    {%- for cat in item.category -%}
      |{{- cat | lower -}}|
    {%- endfor -%}
  {%- endif -%}
{%- endmacro %}

{% macro project_data_category(item) -%}
  {%- if item.category is string -%}
    |{{- item.category | lower -}}|
  {%- else -%}
    {%- for cat in item.category -%}
      |{{- cat | lower -}}|
    {%- endfor -%}
  {%- endif -%}
{%- endmacro %}
