  <script>
    (function () {
      try {
        var t = localStorage.getItem('nb-theme');
        if (t === 'light' || t === 'dark') document.documentElement.setAttribute('data-theme', t);
      } catch (e) { }
    })();
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Computational biologist at Cold Spring Harbor Laboratory (Westcott Lab). Cancer genomics, single-cell and spatial analysis">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nischallllll.github.io">
  <meta property="og:title" content="{{ profile.USER.name | default('Nischal Bhandari') | e }}">
  <meta property="og:description"
    content="Computational biologist at Cold Spring Harbor Laboratory. Cancer genomics, single-cell and spatial methods.">
  <meta property="og:image" content="config/assets/icons/user.svg">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@{{ profile.USER.username | default('nischallllll') | e }}">
  <link href="https://nischallllll.github.io" rel="canonical">
  <link rel="shortcut icon" href="./src/images/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="./src/css/style.css?v=20260404d">
  <link rel="stylesheet" href="./src/css/site-v2.css?v=20260404d">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,400&family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,500;0,6..72,600;1,6..72,400&display=swap"
    rel="stylesheet">
